<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<true/>
	<key>Label</key>
	<string>LLLLL</string>
	<key>ProgramArguments</key>
	<array>
		<string>AAAAA</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>WWWWW</string>
	</array>
	<key>backupSource</key>
	<string>SSSSS</string>
	<key>backupDest</key>
	<string>DDDDD</string>
</dict>
</plist>
